body {
    padding-top: 5rem;
}

.container{
    margin: auto;
}

.addForm{
    border-top: #007bff;
    box-shadow: 1px 1px 4px black;
    width: 1000px;
}

.formControl{
    border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    width: 450px;
}

#bio{
    height: 250px;
}

.subButt{
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    color: white;
}