{% extends "base.html" %}

{% block main %}
<div class="container">
    <h1 class="page-header">Profiles</h1>
    
    
    {% if profiles %}

        {% for user in profiles %}

            <div class="profs">


                <img alt="user profile pic" class="smallImg" src="{{ url_for('static', filename='uploads/' + user.image) }}">
                <span class="info"><h4>{{ user.first_name }} {{ user.last_name }}</h4>
                <img alt="icon" src="../static/images/gen.png" class="icon"/>{{ user.gender }}<br>
                <img alt="icon" src="../static/images/pin.png" class="icon"/>{{ user.location }}</span>


                <a href=" {{ url_for('user', user_id=user.id) }}"><input type="button" class="viewButt" value="View Profile"/></a>


            </div>

        {% endfor %}

    {% endif %}

</div>
{% endblock %}